<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/bookIcon2.png" >
    <link rel="stylesheet" href="/css/style.css">
    <title>Book Shop</title>
</head>
<body>
    <div class="login">
        <div class="homepage__outside">
            <div class="homepage__inside left">
                <h2>Welcome to the book store!</h2>
                <div class="homepage__auth">
                    <a id="login__link" href="/login">Log in</a>
                    <a href="/signup">Sign up</a>
                </div>
            </div>
            <div class="homepage__inside right">
                <img id="library" src="/images/library1.png" alt="">
            </div>
        </div>
    </div>
    
    
</body>
</html>