<%- include('partials/header') -%>
<div>
    <h2>
        <%= tranx.subject %>
        <% for (let element of tranx.image) { %>
            <img src="<%= element %>" alt="">
        <% } %>
        
    </h2>

</div>
