* {
    box-sizing: border-box;
}
body {
    --condition-color: gray;
    --border-color: solid lightgray 1px;
}


img { 
    width: 250px;
}

/* Home Page Styling */

.login {
    font-family: 'Roboto',sans-serif;
}

#login__link { 
    margin-right: 10px;
}
.homepage__outside {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.homepage__inside {
    padding: 5px;
}
.homepage__inside.left {
    text-align: right;
}
.homepage__auth {
    text-align:right;
}
.homepage__auth > a{
    text-decoration: none;
    color: brown;
}

#cover {
    display: block;
    width: 65%;
    margin-right: auto;
    opacity: .9;
    border-radius: 5px;
}


/* Header styling */

.header {
    display: flex;
    padding-left: 5%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main__logo { 
    display: flex;
    justify-content: space-between;
}
#header__img {
    display: block;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 0 .3rem;
    margin: 1px 1px;
    align-items: center;
    flex-wrap: nowrap;
}
.header a:hover {
    color: blue;
    text-decoration: underline;
}

.header__right {
    display: block;
    margin-right: 3rem;
}

.book__icon {
    margin: auto 0;
    color: #00D1B2;
}

/* Header Icons */

.profile__icon {
    color: #FFD257;
}
.globe__icon { 
    color: #F14668;
}
.shopping__icon {
    color: #4960C7;
}
.dollar__icon {
    color: #E93FA5;
}
.coins__icon { 
    color: #63CF9E;
}
.fa-bookmark { 
    color: #F7CAC9;
}
.logout__icon { 
   color: #955251;
}
/* .add__icon {
    color: 
} */
/* Profile header */

.user__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Main content styling */

.page__title {
    text-align: center;
    margin: 5% 0;
}
.midContent { 
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item__top {
    display: block;
    height: 350px;
}

.item__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.1rem;
    padding-top: .5rem;
}
.condition {
    /* font-size: 1rem; */
    color: var(--condition-color);
    font-weight: 200;
    /* font-style: italic; */
}
.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: var(--border-color);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.item__outside {
    padding: 15px;
}

.item__subject {
    font-weight: bold;
}
.item__price {
    font-weight: bold;
}

.details {
    padding-top:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookmark__icon {
    display: flex;
    align-self: flex-end;
}

/* Get User Listing Styling */

.getListing__container { 
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
}
.getListing__container__mid { 
    margin: 0 15px;
}

.sellerInfo {
    display: flex;
    flex-direction: column;
}

.listing__item {
    display: 
}

/* Create Listing Styling */

.inputForm {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    align-items: center;
    margin: 0 auto;
}

.btn {
    margin-top: 25px;
}
    
input[type='file'] {
    color: rgba(0,0,0,0)
}


/* Footer styling */
.footer {
    width: 100%;
    position: fixed;
    bottom: 15px;
    
}
.footer > h5 {
    display: block;
    text-align: center;
}

/* Media Queries */

@media only screen and (max-width:1060px) {
    .header {
        font-size: 12px;
    }
}

/* Footer */

#portfolio_link {
    text-decoration: none;
}