* {
    box-sizing: border-box;
}
body {
    --condition-color: gray;
}


img { 
    width: 250px;
}

/* Header styling */
.header {
    display: flex;
    padding-left: 15%;
    width: 100%;
    justify-content: space-between;
    
}
.header a {
    text-decoration: none;
    color: black;
    padding: 0 .3rem;
    margin: 1px 1px;
}
.header a:hover {
    color: blue;
    text-decoration: underline;
}

.header__right {
    margin-right: 3rem;
}

/* Main content styling */

.page__title {
    text-align: center;
    margin: 5% 0;
}
.midContent { 
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item__top {
    display: block;
    height: 350px;
}

.item__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.1rem;
    padding-top: .5rem;
}
.condition {
    /* font-size: 1rem; */
    color: var(--condition-color);
    font-weight: 200;
    /* font-style: italic; */
}
.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid lightgray 1px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.item__outside {
    padding: 15px;
}

.item__subject {
    font-weight: bold;
}
.item__price {
    font-weight: bold;
}

.details {
    padding-top:10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookmark__icon {
    display: flex;
    align-self: flex-end;
}


/* Create Listing Styling */

.inputForm {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    align-items: center;
    margin: 0 auto;
}

.btn {
    margin-top: 25px;
}
    
input[type='file'] {
    color: rgba(0,0,0,0)
}


/* Footer styling */
.footer {
    width: 100%;
    position: fixed;
    bottom: 15px;
    
}
.footer > h5 {
    display: block;
    text-align: center;
}